
  <body background="./../../assets/bg.jpg"></body>
  <!--Tab Bar Menu-->
  <ul type="menuTabStyle">
   <li style="float:right"><a class="active" type="menuTab"  (click)="f1()" href="#about">Search </a></li>
    <a style="float:right" type="date">
    Date
    <select>
      <option value="date">03 May</option>
      <option value="date">04 May</option>
      <option value="date">05 May</option>
      <option value="date">06 May</option>
    </select></a>
  <li style="float:right"><a class="active" type="menuTab"  href="/home">Home</a></li>
  
  </ul>

  <!-- set layout -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <!-- Show image -->
  <div class="w3-container w3-green">
  <p type="date">Today: 03 May</p> 
    <!--Tab Bar Search-->
  </div>

  <div class="w3-row-padding">
    <div class="w3-third">
      <ul class="container">
        <p><img src="./../../../assets/pic1.jpg" alt="Workplace" usemap="#workmap" width="220" height="330" style="width:220px;height:330px;margin-right:15px;">
        <input class="overlay" type="submit" value="Buy Ticket" (click)="f1()"></p>
      </ul>
      <p type="cinema">Theatre1</p>
      <input class="" type="submit" value="11:00" (click)="f1()">&nbsp;
      <input class="" type="submit" value="14:50" (click)="f1()">&nbsp;
      <input class="" type="submit" value="18:40" (click)="f1()">&nbsp;
      <input class="" type="submit" value="22:30" (click)="f1()">&nbsp;
    </div>
  
    <div class="w3-third">
      <ul class="container">
        <p><img src="./../../../assets/pic2.jpg" alt="Workplace" usemap="#workmap" width="220" height="330" style="width:220px;height:330px;margin-right:15px;">
        <input class="overlay" type="submit" value="Buy Ticket" (click)="f1()">
        </p>
      </ul> 
      <p type="cinema">Theatre2</p>
      <input class="" type="submit" value="11:20" (click)="f1()">&nbsp;
      <input class="" type="submit" value="15:10" (click)="f1()">&nbsp;
      <input class="" type="submit" value="19:00" (click)="f1()">&nbsp;
    </div>
  
    <div class="w3-third">
      <ul class="container">
        <p><img src="./../../../assets/pic3.jpg" alt="Workplace" usemap="#workmap" width="220" height="330" style="width:220px;height:330px;margin-right:15px;">
        <input class="overlay" type="submit" value="Buy Ticket" (click)="f1()">
        </p>
      </ul>
      <p type="cinema">Theatre3</p>
      <input class="" type="submit" value="10:40" (click)="f1()">&nbsp;
      <input class="" type="submit" value="14:30" (click)="f1()">&nbsp;
      <input class="" type="submit" value="18:00" (click)="f1()">&nbsp;
      <input class="" type="submit" value="22:10" (click)="f1()">&nbsp;
    </div>

    <div class="w3-third">
        <ul class="container">
          <p><img src="./../../../assets/pic4.jpg" alt="Workplace" usemap="#workmap" width="220" height="330" style="width:220px;height:330px;margin-right:15px;">
          <input class="overlay" type="submit" value="Buy Ticket" (click)="f1()">
          </p>
        </ul>
        <p type="cinema">Theatre4</p>
        <input class="" type="submit" value="12:00" (click)="f1()">&nbsp;
        <input class="" type="submit" value="14:20" (click)="f1()">&nbsp;
        <input class="" type="submit" value="16:40" (click)="f1()">&nbsp;
      </div>

      <div class="w3-third">
          <ul class="container">
            <p><img src="./../../../assets/pic5.jpg" alt="Workplace" usemap="#workmap" width="220" height="330" style="width:220px;height:330px;margin-right:15px;">
            <input class="overlay" type="submit" value="Buy Ticket" (click)="f1()">
            </p>
          </ul>
          <p type="cinema">Theatre5</p>
          <input class="" type="submit" value="11:10" (click)="f1()">&nbsp;
          <input class="" type="submit" value="15:00" (click)="f1()">&nbsp;
          <input class="" type="submit" value="23:00" (click)="f1()">&nbsp;
          <ul></ul>
        </div>

  </div>

  



  <!-- show ver.1
  <ul class="container">
    <p><img src="./../../assets/pic1.jpg" alt="Workplace" usemap="#workmap" width="220" height="330" style="width:220px;height:330px;margin-right:15px;">
    <input class="overlay" type="submit" value="Buy Ticket" (click)="f1()">
    </p>
  </ul>
  
  <ul class="container">
    <img src="./../../assets/pic2.jpg" alt="Workplace" usemap="#workmap" width="220" height="330">
    <input class="overlay" type="submit" value="Buy Ticket">
  </ul>

  <ul class="container">
    <img src="./../../assets/pic3.jpg" alt="Workplace" usemap="#workmap" width="220" height="330">
    <input class="overlay" type="submit" value="Buy Ticket">
  </ul> 
  -->